*{margin: 0; padding: 0;}
a{text-decoration:none;}
.clearfix{overflow: auto;}
body{font-family: Arial;}
.top 
{
	width: 1140px;
	margin: 0 auto;
	padding: 2px;
	height: 81px;

}
div.top div.Img img
{
 	height: 60px;
 	width: 92.93px;
 	float:left;
 	margin-top: 10px;
}
div.top div.language ul
{
	list-style: none;
	float: right;
	margin-top: 5px;
}
div.top div.language ul li
{
	display: inline;
	
}

div.top div.language ul li a
{
	color: black;
	display:inline-block;
	font-size: 12px;
	padding-right: 5px;
		
}

div.top div.language ul li a:hover
{
	color: orange;
	text-decoration:underline;
}

div.top div.toplink ul
{
	list-style: none;
	float: right;
	margin-top: 50px;
	margin-right: 40px;
}
div.top div.toplink ul li
{
	display: inline;

	
}

div.top div.toplink ul li a
{
	color: black;
	display:inline-block;
	font-size: 15px;
	padding-left: 30px;
	font-weight: normal;		
}

div.top div.toplink ul li a:hover
{
	text-decoration:underline;
}

div.top div.language ul li i
{
	color: blue;
	display:inline-block;
	padding-left: 0px;
	height: 20px;
	width: 20px;
	
			
}
div.top div.language ul li img
{
	height: 20px;
	width: 20px;
}
.navigation-bar
{
	width: 100%;
	background: black;
	height: 50px;

}
.navigation-bar ul
{
	 margin-left: 200px;

;
}
.navigation-bar ul li
{
	float: left;
	list-style: none;
	padding-top: 16px;
	padding-bottom: 17px;

}
.navigation-bar ul li a
{
	color: white;

	padding-right: 10px;
	padding-left:10px;
	font-size: 15px;
	padding-bottom: 1px;
	padding-top: 17px;
	padding-bottom: 17px;


}
.navigation-bar ul li a:hover
{
	background-color: orange;
	color: black;
}
.navigation-bar div.site-search
{
	float:right;
	margin-right: 200px;
	margin-top: 10px;
	background:white;
}
.navigation-bar div.site-search input
{
	border: 0;
	height: 30px;
}
.navigation-bar div.site-search button
{
	height: 30px;
	width: 30px;
	border: 0;

}
div.yellowbar
{
	height: 50px;
	background-color: #ffde00;
	padding-right: 195px;


}
div.yellowbar button
{
	float: right;
	margin-top: 7px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #107ece;
	border: 0;
	padding-right: 5px;
	padding-left: 5px;
	color:white;
	font-size: 13px;
	border-bottom: 2px solid #0f027b;
	border-radius: 4px;


}
div.yellowbar a button:hover
{
	background-color: #0f037b;
}
.photo-bar
{
	width: 1140px;
	height: 400px;
	margin: 0 auto;
}
.photo-bar .photo
{
	width: 520px;
}
.photo-bar .photo img
{
	width: 820px;
	height: 400px;
	float: left;
	margin-top: 20px;
}
.fund
{
	float: right;
	width: 170px;
	height: 400px;
	margin-top: 10px;
}
.fund ul
{
	list-style: none;
	margin-left: -90px;
	margin-top: 10px;
}
.fund ul li a
{
	display: block;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	color: black;
	width: 270px;
	margin-left: -45px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -50px;
	
	
}
.fund ul li a i
{
	float: right;
	margin-top: -8px;
	
}
.fund ul li a:hover
{
	background-color: black;
	color: orange;
}
.bottom-pict
{
	width: 1140px;
	margin: 0 auto;
	margin-top: 40px;


}


.bottom-pict img
{
	width: 265px;
	height: 200px;
	margin-bottom: -10px;
}
.col
{
	width: 265px;
	float: left;
	margin-right: 20px;

}
.col h3
{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 80px;
	color: white;
	padding-top: 10px;
	background-color: #525252;
	
}
.col h3:hover
{
	background-color: #ffde00;
	color: black;
}
.bottom-link
{
	width: 1140px;
	margin:0 auto;
	margin-top: 10px;
}
.col1
{
	width: 265px;
	float: left;
	margin-top: 10px;
	height: 100px;
	margin-right: 150px;
	
}
.col1 h3
{
	margin-left: 130px;
	font-weight: normal;


}
.col1 h2
{
	margin-left: 88px;
	font-size: 20px;
}
.col2
{
	width: 250px;
	float: left;
	margin-top: 10px;
	height: 100px;
	margin-right: 139px;
	
}
.col2 h3
{
	float: right;
	font-weight: normal;

}
div.col2 img
{
 	height: 31px;
 	width: 31px;
 	float:left;
 	margin-top: 10px;
}
div.col2 ul
{
	list-style: none;
	float: right;
	margin-top: 5px;
}
div.col2 ul li
{
	display: inline;
	
}

div.col2 ul li a
{
	color: black;
	display:inline-block;
	font-size: 12px;
	padding-right: 5px;
	color: blue;
	margin-top: -10px;
		
}

.col3
{
	width: 320px;
	float: left;
	margin-top: 10px;
	height: 100px;
	margin-right: -10px;	
}
.col3 h3
{
	float: right;
	font-weight: normal;
	margin-right: 4px;

}
.col3 .sit-search
{
	float:right;	
	padding-left: 10px;
	margin-right: -8px;

}
.col3 .site-search input
{
	border: 0;
	height: 35px;
	background :#ffde00;
	margin-top: 10px;
	margin-left: 60px;
	width: 220px;
	padding-left: 13px;
	margin-right: -5px;
}
.col3 .site-search button
{
	height: 35px;
	width: 35px;
	border: 0;
	background :#ffde00;
	padding-left: 5px;
	margin-right: -12px;
}
.col3 .site-search h6
{
	margin-left: 10px;
	margin-top: 15px;
	color:#525252;
	font-weight: normal;
	font-size: 11px;
}
.footer 
{
	width: 100%;
	height: 220px;
	background-color: #666666;
	margin-top: 10px;
	color: white;
	font-family: "Lato",sans-serif;

}
.footer a
{
	color: white;
	font-family: "Lato",sans-serif;
}
.footer .foolink .f1 li
{
	margin-bottom: 7px;
}
.footer h3
{
	margin-top: 10px;
	margin-bottom: 5px;
}
.footer .foolink
{
	margin-left: 190px;
	width: 860px;
	float: left;
	margin-right: -10px;
	padding-right: -10px;

}
.footer .f11 p
{
	margin-bottom: 20px;
}
.footer .f1
{
	width:265px;
	margin-right: 20px;
	float:left;

}
.footer .f1 ul
{
	list-style: none;
}
.footer .f1 ul li a
{
	font-size: 13px;
}
.footer .f1 ul a:hover
{
	color: #ffde00;
	text-decoration: underline;
}
.footer .f11
{
	background-color: #424242;
	font-family: "Lato",sans-serif;
	float :right;
	width: 468px;
	height: 220px;
	padding-left: 10px;


}
.footer .f11 p
{
	font-size: 13px;
}
.yellow-footer
{
	width: 100%;
	background-color: #ffde00;
	height: 50px;
	font-size: 13px;
	text-align: center;
	font-family: "Lato",sans-serif;
}
.yellow-footer p
{
	padding-top: 15px;
}
.yellow-footer p a
{
	color: black;
}
.yellow-footer p a:hover
{
	text-decoration: underline;
}
